<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
   
    <style>
      .waves-button-input{
            color: white !important;
      }
      body {
          background-image: url("https://i.ibb.co/HHydYZ1/Search3.png");
          background-size: cover;
          font-family: Muli, sans-serif;
      }
      .nav-mobile li:hover{
        color: red;
      }
    </style>

  </head>
  <body>
    <nav class="light-blue darken-1">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"><i class="material-icons">business_center</i>{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
          {% if current_user.is_authenticated %}
            <ul id="nav-mobile" class="left">
               <!-- <li><a href="/users">Users Jinja</a></li> -->
                <li class="{% block active1 %}{% endblock %}"><a href="/profile">Profile</a></li>
                <li class="{% block active2 %}{% endblock %}"><a href="/jobs">Jobs</a></li>
                <li class="{% block active3 %}{% endblock %}"><a href="/skills">My Skills</a></li>
            </ul>
          
            <ul class="right" >
              <li><a href="/logout">Logout</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
          <ul class="flashes">
           {% for message in messages %}
             <li>{{ message }}</li>
           {% endfor %}
          </ul>
      </div>
      </nav>
    {% endif %}
    {% endwith %}
    
    

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
