{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
  <section class="container">
      <h2>Welcome Back</h2>
      <p>No account as yet? <a href="/signup"><strong>Signup</strong></a></p>
  </section>  

  <main class="container">
    <form class="col s12 m8 offset-m2" method="POST" action="/">
      {{ form.csrf_token }}

      <div class="input-field col s12 m8 offset-m2"> 
        {{ form.username(size=20, class="validate") }}
        {{ form.username.label }}
      </div>

      <div class="input-field col s12 m8 offset-m2">
        {{ form.password(size=20, class="validate") }}
        {{ form.password.label }}
      </div>

      <div class="input-field col s12 m8 offset-m2">
        {{form.submit}}
      </div> 
    </form>
  </main> 
{% endblock %}