{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block page %}Job Hunter{% endblock %}

{{ super() }}

{% block content %}
<style>
  
  h2{
    font-family: "Space Mono", monospace;
  }
</style>
  <section class="container">
      <h2>Login</h2>
      <p>No account as yet? <a href="/signup"><strong>Signup</strong></a></p>
  </section>  

  <main class="container">
    <form class="col s12 m8 offset-m2" method="POST" action="/">
      {{ form.csrf_token }}

      <div class="input-field col s12 m8 offset-m2">
        <i class="material-icons prefix">account_circle</i> 
        {{ form.username(size=20, class="validate") }}
        {{ form.username.label }}
      </div>

      <div class="input-field col s12 m8 offset-m2">
        <i class="material-icons prefix">lock</i>
        {{ form.password(size=20, class="validate") }}
        {{ form.password.label }}
      </div>

      <div class="input-field col s12 m8 offset-m2">
        {{form.submit}}
      </div> 
    </form>
  </main> 
{% endblock %}