<!--<section class="row" style="padding: 0px 0px 10px 30px">
   <form>
     <div style="overflow-y: scroll; height: 45vh" >
       <p>course 1</p>
       <p>course 2</p>
       <p>course 3</p>
       <p>course 4</p>
       <p>course 5</p>
       <p>course 6</p>
       <p>course 7</p>
       <p>course 8</p>
       <p>course 9</p>
       <p>course 10</p>
      </div>

     <div style="padding: 0px 0px 0px 70px">
       <button class="btn purple waves-effect" type="submit" name="action">search jobs</button>
     </div>
   </form>
</section> -->



{% extends "layout.html" %}
{% block title %}profile{% endblock %}
{% block page %}webpage name coming soon{% endblock %}


{{ super() }}

{% block content %}

<style>
   #del{margin-left: 10%; color: white} 
   #del:hover{color: purple}     
</style>

   <main  class="row">
       <section class="col s8">
           <section class="row">
            {% if current_user.is_authenticated %}
            <h3> Welcome {{ current_user.username }}! </h3>
            {% endif %}
            <h5>Enter your courses and search for available jobs</h5>
           </section>

           <section class="row" style="padding: 8em">  
            <form method="POST" action="/profile">
               <div class="col s4"> 
                  <input placeholder="add course" name="text" type="text" class="validate">
                  <label for="text"></label>
               </div>
               
               <div class="col s4">
                <button class="btn blue waves-effect" type="submit" >add</button>
               </div>
            </form>
           </section>
       </section>

       <div style="padding: 30px 0px 0px 0px">
       <section class="col s4" >
         <div class="card blue">
            <div class="row" style="padding: 0px 0px 0px 40px">
               <h1><u>Courses</u></h1>
            </div>

            <ul>
               {% if current_user.is_authenticated %}
                  {% for course in courses %}
                     <li style="padding-left: 25%">
                        <b>{{course.courseCode}}</b> 
                        <a id="del" href="/profile/{{course.courseId}}">DELETE</a> 
                     </li>
                  {% endfor %}
               {% endif %}
            </ul>

            <form action="/list">
            <div style="margin-left: 28%">
               <button class="btn purple waves-effect" type="submit" name="action">search jobs</button>
            </div>
            </form>
        </div>
      </section>
      </div>
   </main>
{% endblock %}


   

   