                                                       <!--
<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="templates/style.css">
</head>

<body>
  <div class="right">
    <div class="card light-grey">

    <form id="signupForm" style="padding: 1em" method="POST" action="/">
      <section class="copy">
        <h2>Sign Up</h2>
        <div class="login-container">
          <p>Already have an account? <a href="/login"><strong>Log in</strong></a></p>
        </div>
      </section>

      <div class="input-container name">
        <label for="fname">Username</label>
        <input id="fname" name="username" type="text" class="validate">
      </div>

      <div class="input-container email">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="validate">
      </div>

      <div class="input-container password">
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="Must be atleast 6 characters" type="password" class="validate">
        <i class="far fa-eye-slash"></i>
      </div>

      <button class="signup-btn" type="submit">Sign Up</button>

       <section class="copy legal">
         <p><span class="small">By continuing, you agree to accept our <br>
           <a href="#">Privacy Policy</a> &amp; 
           <a href="#">Terms of Service</a>.
         </span></p>
       </section>
    </form>

  </div>
  </div>
</body>

</html>
                                                        -->
{% extends "layout.html" %}
{% block title %}Signup Page{% endblock %}
{% block page %}Signup{% endblock %}

{{ super() }}

{% block content %}
<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>Welcome Job Hunter</h1>
      <p>Already have an account? <a href="/"><strong>Log in</strong></a></p>
    </section>
  </div>
   
  <div class="row">
    
      <div class="card grey"> 
      <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="/signup">
          {{ form.csrf_token }}
         
         
          <div class="input-field col s12 m8 offset-m2"> 
            {{ form.username(size=20, class="validate") }}
            {{ form.username.label }}
          </div>

          <div class="input-field col s12 m8 offset-m2">
            {{ form.email(size=50, class="validate") }}
            {{ form.email.label }}
          </div>

          <div class="input-field col s12 m8 offset-m2">
            {{ form.password(size=20, class="validate") }}
            {{ form.password.label }}
          </div>

          <div class="input-field col s12 m8 offset-m2">
            {{form.submit}}
          </div> 
       

      </form>
      </div> 
    
  </div>
</div>
  
</div>  
{% endblock %}