{% extends "layout.html" %}
{% block title %}Skills{% endblock %}
{% block page %}Job Hunter{% endblock %}
{% block active3 %}active{% endblock %}

{{ super() }}

{% block content %}
<style>
  .row{
       background-color: white;
       box-shadow: 10px 10px 5px grey;
  }
</style>
<div class="row">
    <center><h4>Your Current Skills</h4></center>
    <table class="col m11 offset-m1">
     <thead> 
      <tr>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Skills Acquired</th>
        <th>Course Description</th>
      </tr>
     </thead>

     <tbody>
      {% for data in skillsList %}
      <tr>
        <td>{{ data.courseName }}</td>
        <td>{{ data.courseCode }}</td>
        <td>{{ data.competencyOutcome }}</td>
        <td>{{ data.courseDescription}}</td>
      </tr>
      {% endfor %}
     </tbody> 
    </table>
  </div>
{% endblock %}